In [ ]:
# bitwise operator - bitwise and(&), bitwise or(|), bitwise xor(^), bitwise not(~), bitwise right shift(>>), bitwise left shift(<<)

- works on bits
- can only work for integer data type

In [1]:
a = 10
b = 20
print(a & b)

0

In [ ]:
# process

# step1 - convert the numbers into its binary form
10 --> 1010
20 --> 10100

# step 2 - apply & operation

0 1 0 1 0
1 0 1 0 0
----------
0 0 0 0 0

# step 3 - conver the final answer back to its integer form
00000 ---> 0

In [5]:
a = 10
b = 20
print(a | b)

30

In [4]:
# process

# step1 - convert the numbers into its binary form
10 --> 1010
20 --> 10100

# step 2 - apply | operation

0 1 0 1 0
1 0 1 0 0
----------
1 1 1 1 0

# step 3 - conver the final answer back to its integer form
1 1 1 1 0 ---> 0

0

In [9]:
a = 35
b = 45
print(a ^ b)

14

In [ ]:
# step 1
35 --> 100011
45 --> 101101


# step - apply xor operator

1 0 0 0 1 1
1 0 1 1 0 1
-----------
0 0 1 1 1 0

# step3 - 
0 0 1 1 1 0 --> 14

In [12]:
# bitwise right shift(>>) - A // (2**n)

x = 20
print(x >> 3)

2

In [14]:
# bitwise left shift(<<) - A * (2**n)

x = 20
print(x << 3)

160

In [16]:
#  bitwise not(~)

a = 10

"""
add 1 to 10
and reverse the sign

"""
print(~a)

-11

In [17]:
a = -9

"""
add 1 to 10
and reverse the sign

"""
print(~a)

8

In [ ]:
#7. Assignment operator or Compound operator

assign 10 to a variable x
add 5 to x and reassgin to x

In [18]:
x = 10
x = x + 5
print(x)

15

In [19]:
x = 10
x += 5  
print(x)

15

In [20]:
x = 10
x -= 5 # x = x - 5  
print(x)

5

In [21]:
x = 10
x *= 5
print(x)

50

In [22]:
x = 10
x //= 5
print(x)

2

In [23]:
x = 10
x /= 5
print(x)

2.0

In [24]:
x = 10
x **= 5
print(x)

100000

In [ ]:
&=
|=
^=
>>=
<<=

In [ ]:
# 8. identity operator

In [26]:
#sceaniro 1

a = 10
b = 20
print(id(a+b))

print(id(a))
print(id(b))

140625416744144
140625416743504
140625416743824

In [28]:
# scenario 2
a = 10
b = 20
c = a + b

print(id(a))
print(id(b))
print(id(c))

140625416743504
140625416743824
140625416744144

In [29]:
# scenario 3
a = 10
b = 20
b += a

print(id(a))
print(id(b))
print(id(b))

140625416743504
140625416744144
140625416744144

In [30]:
a = 10
b = a
c = b

print(id(a))
print(id(b))
print(id(c))

140625416743504
140625416743504
140625416743504

In [ ]:
"""
is and is not
tells us if the address of two varibale is same or not
"""

In [31]:
a = 20
b = 20

print(a is b)

True

In [32]:
id(a)

140625416743824

In [33]:
id(b)

140625416743824

In [34]:
a = 500
b = 500.0
print(a is b)

False

In [35]:
a = 789
b = 789
print(a is b)

False

In [ ]:
Object resuabilty concept in python

1. int = -5 to 256
2. float = not applicable
3. string = "a-z,A-Z,0-9,_"
4. bool
5. complex - not applicable
6. None

In [36]:
a = 10
b = 10

print(id(a))
print(id(b))

140625416743504
140625416743504

In [37]:
a = 257
b = 257

print(id(a))
print(id(b))

140625160151248
140625160151568

In [38]:
a = 'abc_'
b = 'abc_'

print(id(a))
print(id(b))

140625160282736
140625160282736

In [39]:
a = 'abc_#'
b = 'abc_#'

print(id(a))
print(id(b))

140625160284528
140625160482224

In [ ]:
10. membership operator - not applicable for inteher data types

In [ ]:
11. ternary operators

expr if cond else exp2 --> result will be exp1 if cond is True else False

In [40]:
print('argentina' if 2<1 else "india")

india

In [41]:
a = 10
b = 10
c = 10.0

print('argentina' if a is b else "india")

argentina

In [ ]:
expr1 if cond 1 else exp2 if cond 2 else exp3

In [43]:
print('argentina' if a < b else "india" if a is not b else "None")

None

In [44]:
# binary representation - 0,1, 0b, bin()

a = 90
bin(a)

'0b1011010'

In [45]:
# ---> decimal number
print(0b1011010)

90

In [47]:
# octal representation - 0-7, 0o, oct()

a = 20
oct(a)

'0o24'

In [48]:
print(0o24)

20

In [49]:
# hexa representation - 0-9 a-f , 0x , hex()

a = 200
hex(a)

'0xc8'

In [50]:
print(0xc8)

200

In [ ]:
# operator precedence table

()
**
+x,-x,~x
*,/,//,%
+,-
<<,>>
&
^
|
==,!=,>,>=,<,<=, is, is not, in, not in
not
and
or

In [51]:
a = 10
b = 20
print(a+b)

30