In [ ]:
for var in iterable:
    statment

In [1]:
data = ['afsan','arun','abhishek','ankit','archana']
# create a new list which conrains the reverse of all the names
rev_data = []
for i in data:
    rev_data.append(i[::-1])

In [2]:
rev_data

['nasfa', 'nura', 'kehsihba', 'tikna', 'anahcra']

In [4]:
data=['appple','orange']
data_rev=[]
for i in data:
    rev=i[::-1]
    data_rev.append(rev)

In [5]:
data_rev

['elpppa', 'egnaro']

In [6]:
# generate the even numbers from 1 to 50

for i in range(1,51):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [7]:
for i in range(2,51,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
# genertae the odd numbers from 1 to 50
for i in range(1,51,2):
    print(i)
    
for i in range(1,51):
    if i%2!=0:
        print(i)

In [8]:
for i in range(1,51,2):
    print(i,end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [9]:
data = ['afsan','arun','abhishek','ankit','archana']

# in the new list add only those data where the length of name is even
new_data = []
for i in data:
    if len(i)%2==0:
        new_data.append(i)

In [10]:
new_data

['arun', 'abhishek']

In [ ]:
data = ['afsan','arun','abhishek','ankit','archana']
# create a new list which conrains the reverse of all the names
rev_data = []
for i in data:
    rev_data.append(i[[::-1]])
print(rev_data)

In [12]:
for iteration 1 i = 'afsan'
[].append('nasfa')
['nasfa']
print(['nasfa'])

for iteration 2 i = 'arun'
['nasfa'].append('nura')
['nasfa', 'nura']

'nasfa'

In [13]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [16]:
# extend
data = []
a = 'archana'
data.extend(a)

In [17]:
data

['a', 'r', 'c', 'h', 'a', 'n', 'a']

In [18]:
a = 'today is tuesday'
a.split()

['today', 'is', 'tuesday']

In [19]:
a = ['today', 'is', 'tuesday']
b = ['tmr','is','wednesday']
a.extend(b)

In [20]:
a

['today', 'is', 'tuesday', 'tmr', 'is', 'wednesday']

In [21]:
a = 'irfan'
a.replace('i','p')
print(a)

print(a.replace('i','p'))

irfan
prfan

In [22]:
a = 'irfan'
temp =

In [23]:
print(a.replace('i','p'))

prfan

In [ ]:
# list comphresnion

[statment 1 for var in iterable if condtion]

# when to use list comphrenshion
only1 condition
only 1 statment
create a new list and append function

In [ ]:
for var in iterable:
    if condtion
        statment 1

In [ ]:
data = ['afsan','arun','abhishek','ankit','archana']
# create a new list which conrains the reverse of all the names
rev_data = []
for i in data:
    rev_data.append(i[::-1])

In [24]:
data = ['afsan','arun','abhishek','ankit','archana']
[i[::-1] for i in data]

['nasfa', 'nura', 'kehsihba', 'tikna', 'anahcra']

In [25]:
# list of all the even numbers from 2 to 50
[i for i in range(2,51,2)]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [26]:
data = ['afsan','arun','abhishek','ankit','archana']

# in the new list add only those data where the length of name is even
[i for i in data if len(i)%2==0]

['arun', 'abhishek']

In [31]:
a = ['afsaan@gmail.com' , 'akash@email.com' , 'gulab@gmail.com' , 'krishna@yahoo.in' , 'pranali@xyz.in']
# we have to store all the username inside a new list
[i.split('@')[0] for i in a]

['afsaan', 'akash', 'gulab', 'krishna', 'pranali']

# Tuple

all the element should be kept inside a round brackets(optionl) and sep by commas

In [32]:
a = (10,20,30,40,50)
print(a, type(a))

(10, 20, 30, 40, 50) <class 'tuple'>

In [33]:
a = 10,20,30,40,50
print(a, type(a))

(10, 20, 30, 40, 50) <class 'tuple'>

In [34]:
len(a)

5

# Creation of tuple

In [35]:
# 1. you already know the element

fruits = ('apple','banana')
print(fruits)

('apple', 'banana')

In [36]:
# 2. taking user input with eval function

data = eval(input(''))
print(data, type(data))

10,4,3,7,8
(10, 4, 3, 7, 8) <class 'tuple'>

In [37]:
# 3. typcasting - iterable objects

a = 'learnbay'
tuple(a)

('l', 'e', 'a', 'r', 'n', 'b', 'a', 'y')

In [38]:
a = 100
tuple(a)

TypeError: 'int' object is not iterable

In [ ]:
# Properties of tuple

1. seq data type - +ve and -ve indexing
2. it can contain any data type
3. allows duplicate element
4. operations - slicing, indexing, concatination, repetition, membership and identity
5. immutable

In [44]:
# 2. it can contain any data type

a = (True,10.4,[1,2,3],(1,2,3),10+7j)
print(a)

(True, 10.4, [1, 2, 3], (1, 2, 3), (10+7j))

In [45]:
# 3. allows duplicate element

a = (1,1,1,1,1,1,1)
print(a)

(1, 1, 1, 1, 1, 1, 1)

In [46]:
# indexing

a = (True,10.4,[1,2,3],(1,2,3),10+7j)
print(a[-1])

(10+7j)

In [47]:
# slicing

a = (True,10.4,[1,2,3],(1,2,3),10+7j)
print(a[::-1])

((10+7j), (1, 2, 3), [1, 2, 3], 10.4, True)

In [48]:
# concatination

a = (1,2,34)
b = (6,8,9)
a+b

(1, 2, 34, 6, 8, 9)

In [50]:
# repetiton

a = (1,2,34)
b = 10
print(a*b)

(1, 2, 34, 1, 2, 34, 1, 2, 34, 1, 2, 34, 1, 2, 34, 1, 2, 34, 1, 2, 34, 1, 2, 34, 1, 2, 34, 1, 2, 34)

In [51]:
# membership

a = (True,10.4,[1,2,3],(1,2,3),10+7j)
print(True in a)

True

In [52]:
# indentity

a = (1,2,3)
b = (1,2,3)

print(a is b)

False

In [53]:
print(id(a))
print(id(b))

140623430115392
140623430117888

In [54]:
# immutable

a = (1,2,3)
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [56]:
a = (True)
print(True in a)

TypeError: argument of type 'bool' is not iterable

In [57]:
a = (True)
print(type(a))
print(True in a)

<class 'bool'>

TypeError: argument of type 'bool' is not iterable