In [1]:
# take first name and last name from the user and display it as a full name

a = input ("enter first name")
b = input ("enter last name")
print(a,b)

enter first nameAfsan
enter last namekhan
Afsan khan

In [2]:
a = input ("enter first name")
b = input ("enter last name")
print('My first name is ',a,'My second name is',b)

enter first nameafsan
enter last namekhan
My first name is  afsan My second name is khan

In [7]:
# format string

a = input ("enter first name")
b = input ("enter last name")
print(f"my first name is {a} and second name is {b}" + " {}")

enter first nameafsan
enter last namekhan
my first name is afsan and second name is khan {}

In [5]:
a = input ("enter first name")
b = input ("enter last name")
print("my first name is {} and second name is {}".format(a,b))

enter first nameafsan
enter last namekhan
my first name is afsan and second name is khan

In [ ]:
# String Data type

- anything that can be wriiten inside a '..' , "..." , '''...'''

In [8]:
a = 'python'
b = "python"
c = '''python'''

print(a)
print(b)
print(c)

python
python
python

In [9]:
a = 'this is pyhton's class'

SyntaxError: invalid syntax (360272960.py, line 1)

In [10]:
a = "this is pyhton's class"
print(a)

this is pyhton's class

In [11]:
a = 'this is "python" class'
print(a)

this is "python" class

In [13]:
a = '''hey hi hello
bye seeyou'''

print(a)

hey hi hello
bye seeyou

In [14]:
a = """hey hi hello
bye seeyou"""

print(a)

hey hi hello
bye seeyou

In [15]:
a = 'python'
b = 'cython'

In [16]:
print(id(a))
print(id(b))

140454157235056
140454692987888

In [20]:
print(a[0],id(a[0]))
print(b[0],id(b[0]))

p 140454692249456
c 140454692573744

In [21]:
print(a[1],id(a[1]))
print(b[1],id(b[1]))

y 140454424915568
y 140454424915568

In [22]:
c = 'suryakant'

In [23]:
print(c[3], id(c[3]))

y 140454424915568

In [ ]:
c = 'suryakant'

In [24]:
c[3]

'y'

In [ ]:
# String properties

1. String is a Sequence data type - it allows +ve and -ve indexing
2. +ve indexing start from direction L-->R with 0
3. -ve indexing starts from R-->l with -1
4. operation, indexing, slicing, concatination, repetiton, membership, identity
5. String is immutable data type

In [34]:
a = 'this is a python class'

# +ve , -ve
id(a[4])

140454424439088

In [35]:
id(a[-6])

140454424439088

In [29]:
a = 'deepika@gmail.com'

In [31]:
a.split('@')[0]

'deepika'

In [32]:
# slicing

a = 'deepika@gmail.com'

a[0:7]

'deepika'

In [ ]:
int
float
bool