# Functions

In [4]:
data ='abc'

if data == data[::-1]:
    print('yes')
else: 
    print('no')
    
    
data =10
data_1=20
result =40


if data+data_1 == result:
    print('yes')
else:
    print('no')
    

data ='maam'

if data == data[::-1]:
    print('yes')
else: 
    print('no')

no
no
yes

In [ ]:
# we should not repeat the code

Function follows the DRY (Don't Repeat Yourself)

in function we have two parts
    1. function definition- we define the function/we write the loginin the function
    2. function call - we execute the function
                          
syntax for 
    1. function definition
                          def func_name(parameter):
                              statement 1
                              statement 2
                          return parameter
                        - note that parameter and return are optional
                          
    2. function calling 
                    func_name(arguments)
        note- if parameter is given then only arguments should be given

In [5]:
# write a fnction to add two number

# function definiton
def add():
    a=10
    b=20
    print(a+b)

In [6]:
# function call

add()

30

In [7]:
#call again
add()

30

In [9]:
# function with parameter
def add(a,b):
    print(a+b)

In [10]:
#funcion call

add(10,20)

30

In [11]:
add(30,20)

50

In [16]:
#write a funcion for a palindrome

def check_palindrom(word):
    if word == word[::-1]:
        print('palindrome')
    else:
        print('not a palindrome')

In [17]:
check_palindrom('mma')

not a palindrome

In [18]:
check_palindrom('mum')

palindrome

In [ ]:
#types of parameters/Argument

1. positional arguments
- order is importnat
- no. of arguments should match with the no of parameter

In [19]:
def emp_info(emp_name,emp_sal,emp_age):
    print(emp_name)
    print(emp_sal)
    print(emp_age)
    
emp_info('afsan', '25k','25')

afsan
25k
25

In [20]:
    
emp_info('afsan', '25k',25)

afsan
25k
25

In [21]:
# if we change the order

emp_info(25, 'afsan','25')

25
afsan
25

In [22]:
#if we pass lesser parameter
emp_info(25, 'afsan')

TypeError: emp_info() missing 1 required positional argument: 'emp_age'

In [23]:
# if we pass more parameter
emp_info(25, 'afsan','25','learnbay')

TypeError: emp_info() takes 3 positional arguments but 4 were given

In [24]:
#doc string for documentation of the python function
def emp_info(emp_name,emp_sal,emp_age):
    """
    This will print the emp info
    emp_name(string): name of employee
    emp_sal(int): salary of employee in K
    emp_age(int): age of employee
    """
    print(emp_name)
    print(emp_sal)
    print(emp_age)

In [25]:
emp_info('afsan',25,25)

afsan
25
25

In [27]:
#. default arguments

def emp_info(emp_name,emp_sal,emp_age, emp_location='bangalore'):
    """
    This will print the emp info
    emp_name(string): name of employee
    emp_sal(int): salary of employee in K
    emp_age(int): age of employee
    """
    print(emp_name)
    print(emp_sal)
    print(emp_age)
    print(emp_location)

In [28]:
emp_info('abhishek',25,25)

afsan
25
25
bangalore

In [29]:
emp_info('abhishek',25,25, 'delhi')

abhishek
25
25
delhi

In [30]:
# we can have any number of default arguments
#Note- Default agruments should be always at last. default arguments shuld follow the positional arguments

def emp_info(emp_location='bangalore',emp_name,emp_sal,emp_age):
    """
    This will print the emp info
    emp_name(string): name of employee
    emp_sal(int): salary of employee in K
    emp_age(int): age of employee
    """
    print(emp_name)
    print(emp_sal)
    print(emp_age)
    print(emp_location)

SyntaxError: non-default argument follows default argument (263834257.py, line 4)

In [32]:
#3. Keyword argments

def emp_info(emp_name,emp_sal,emp_age, emp_location='bangalore'):
    """
    This will print the emp info
    emp_name(string): name of employee
    emp_sal(int): salary of employee in K
    emp_age(int): age of employee
    """
    print(emp_name)
    print(emp_sal)
    print(emp_age)
    print(emp_location)
    
emp_info('afsan',100,25)

afsan
100
25
bangalore

In [33]:
emp_info(emp_name='afsan',emp_sal=100,emp_age=25)

afsan
100
25
bangalore

In [34]:
emp_info(emp_age=25,emp_sal=100,emp_name='afsan') # note now one to one mapping is not needed

afsan
100
25
bangalore

In [39]:
#write a function to check a number is even of odd
def check_even_odd(number):
    if number ==0:
        print('Neither even nor odd')
    elif number %2  == 0:
        print('even')
    else:
        print('odd')

In [40]:
check_even_odd(25)

odd

In [41]:
check_even_odd(40)

even

In [ ]:
# return statement

- it is optional in function- for  users
- return is important in the function
- if not used then default value of return will be giveb by python -- None
- if return then it can be any value (any datatype)

In [43]:
#write a function to add two number
def sum(a,b):
    c=a+b

In [44]:
sum(10,20)

In [45]:
print(c)

NameError: name 'c' is not defined

In [58]:
def sum(a,b):
    c= a+b
    return c

In [60]:
print(sum(10,20))

30

In [65]:
def sum(a,b):
    c= a+b
    return c


output = sum(10,20)
print(output)

30

In [66]:
def sum(a,b):
    c= a+b
    


output = sum(10,20)
print(output)

None

In [67]:
data='abc'
print(data.replace('a','p'))

pbc

In [68]:
a=[1,2,3]
print(a.append(4))

None

In [ ]:
replace method -- 
replace(old,new,count) :
    #logic
    return string

In [ ]:
append (values):
  #logic