In [1]:
# Methods in tuple
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [2]:
# count
a = (10,20,30,40)

print(a.count(40))

1

In [3]:
# index
a = (10,20,30,40)
print(a.index(40))

3

# tuple packing and unpacking

# packing

- assigning multiple values to a single variable

In [4]:
data = 10,True,10.2,None,10+7j
print(data, type(data))

(10, True, 10.2, None, (10+7j)) <class 'tuple'>

In [5]:
data = 1,2 # --> (1,2)
print(data, type(data))

(1, 2) <class 'tuple'>

In [ ]:
data = (True,False) --> True,False
data = (1,2,3) ---> 1,2,3
data = ('abc') ---> abc

In [6]:
data = (1)
print(type(data))

<class 'int'>

In [8]:
# single value in tuple
data = 1,
print(data, type(data))

(1,) <class 'tuple'>

In [9]:
data = (1,)
print(data, type(data))

(1,) <class 'tuple'>

In [10]:
data = ('abc')
print(type(data))

<class 'str'>

In [11]:
data = ('abc',)
print(type(data))

<class 'tuple'>

In [12]:
a = (True)
print(True in a)

TypeError: argument of type 'bool' is not iterable

# tuple unpacking

- fetching the indivual valuen from the tuple

In [ ]:
tupl = (10,20,30,40,50)
a = tup1[0]
b = tup1[1]
c = tup1[2]

In [15]:
a,b,c,d,e = (10,20,30,40,50)
print(d)

40

In [ ]:
# Note

- number of values of RHS == number of variable on LHS

In [16]:
a,b,c = (10,20,30,40,50)

ValueError: too many values to unpack (expected 3)

In [17]:
a,b,c,d,e,f = (10,20,30,40,50)

ValueError: not enough values to unpack (expected 6, got 5)

In [18]:
a,b,c,d,e = [10,20,30,40,50]

In [19]:
a

10

# Dictonary data type

In [21]:
employee_data = ['afsan',25,30000]

print(employee_data[0])
print(employee_data[1])
print(employee_data[2])

afsan
25
30000

In [ ]:
# 1
employee_data = [25,30000,'afsan']

print(employee_data[0])
print(employee_data[1])
print(employee_data[2])

In [ ]:
# 2
employee_data = [25,25,'afsan']

print(employee_data[0])
print(employee_data[1])
print(employee_data[2])

In [23]:
# dict

employee_data = {'age': 25, 'salary':25, 'name':'Afsan'}

# 1 and 2
print(employee_data['name'])
print(employee_data['age'])
print(employee_data['salary'])

Afsan
25
25

In [ ]:
# Properties of dictinary
1. it is a collection of key value pair
2. a key:value is called as item
3. items are sep by commas(,)
4. key and value is sep by colon(:)
5. key cannot be duplicated whereas values can be duplicated
6. key cannot be mutable
7. value can be of any data type
8. all the items are enclosed inside a {} bracket
9. dict is not a seq data type - +ve index and -ve index
10. indexing,slicing,concatination,repetition
11. memebrship is only applicable on keys
12. dict is mutable

In [ ]:
# 1. it is a collection of key value pair
# 2. a key:value is called as item
# 3. items are sep by commas(,)
# 4. key and value is sep by colon(:)
# 8. all the items are enclosed inside a {} bracket

employee_data = {'age': 25, 'salary':25, 'name':'Afsan'}

In [26]:
# 5. key cannot be duplicated whereas values can be duplicated

# key cannot be duplicated
employee_data = {'age': 25, 'age':50, 'name':'Afsan', 'age':100}
print(employee_data)

{'age': 100, 'name': 'Afsan'}

In [27]:
# values can be duplicated
employee_data = {'age': 25, 'salary':25, 'name':'Afsan'}
print(employee_data)

{'age': 25, 'salary': 25, 'name': 'Afsan'}

In [28]:
# 6. key cannot be mutable

"""
mutable data type
list
dict
set
"""

employee_data = {'age': 25, 100:25, 200:'Afsan'}
print(employee_data)

{'age': 25, 100: 25, 200: 'Afsan'}

In [29]:
employee_data = {'age': 25, [100]:25, 200:'Afsan'}
print(employee_data)

TypeError: unhashable type: 'list'

In [30]:
employee_data = {'age': 25, {1,2,3}:25, 200:'Afsan'}
print(employee_data)

TypeError: unhashable type: 'set'

In [31]:
employee_data = {'age': 25, {1:2,2:3,3:4}:25, 200:'Afsan'}
print(employee_data)

TypeError: unhashable type: 'dict'

In [32]:
employee_data = {'age': 25, (1,2,3):25, 200:'Afsan'}
print(employee_data)

{'age': 25, (1, 2, 3): 25, 200: 'Afsan'}

In [33]:
# 7. value can be of any data type
employee_data = {'age': 25, (1,2,3):[1,2,3], 200:{1,2,3}}

In [35]:
# 9. dict is not a seq data type - +ve index and -ve index
# 10. indexing,slicing,concatination,repetition

employee_data = {'age': 25, 'salary':25, 'name':'Afsan'}
employee_data[-1]

KeyError: -1

In [36]:
employee_data = {'age': 25, 'salary':25, 'name':'Afsan'}
employee_data[0:2]

TypeError: unhashable type: 'slice'

In [37]:
employee_data = {'age': 25, 'salary':25, 'name':'Afsan'}
employee_data_2 = {'age': 30, 'salary':50, 'name':'Afsan'}

employee_data + employee_data_2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [38]:
employee_data = {'age': 25, 'salary':25, 'name':'Afsan'}
employee_data_2 = {'age': 30, 'salary':50, 'name':'Afsan'}

employee_data * 5

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [39]:
employee_data = {'age': 25, 'salary':25, 'name':'Afsan'}
print(25 in employee_data)

False

In [40]:
employee_data = {'age': 25, 'salary':25, 'name':'Afsan'}
print('age' in employee_data)

True

In [41]:
employee_data = {'age': 25, 'salary':25, 'name':'Afsan'}
employee_data_2 = {'age': 30, 'salary':50, 'name':'Afsan'}

print(id(employee_data))

140425717905920

In [42]:
print(employee_data is employee_data_2)

False

In [43]:
employee_data = {'age': 25, 'salary':25, 'name':'Afsan'}
employee_data[] = 30

In [44]:
employee_data

{'age': 30, 'salary': 25, 'name': 'Afsan'}

In [ ]:
employee_data = {'age': 25, 'salary':25, 'name':'Afsan'}

In [ ]:
data = [1,2,3,'humaid']

In [45]:
# Creation of dict

# 1. you already know the element

employee_data = {'age': 25, 'salary':25, 'name':'Afsan'}
print(employee_data)

{'age': 25, 'salary': 25, 'name': 'Afsan'}

In [46]:
# user with eval

data = eval(input('enter the data'))
print(data, type(data))

enter the data{1:2,5:6,100:7}
{1: 2, 5: 6, 100: 7} <class 'dict'>

In [48]:
# 3 typecasting - dict

"""
dict function takes a seq of inner seq where inner seq is pair of value in whihc the first value of the pair
will be the key and second value will be the value

"""
data = [('name','afsan'),('age',25),('salary',25)]
dict(data)

{'name': 'afsan', 'age': 25, 'salary': 25}

In [ ]:
# zip function

syntax = zip(iterable1, iterable2)

In [49]:
data = ['name','age','salary']
value_data = ['afsan','25','25']

zip(data, value_data)

In [50]:
list(zip(data, value_data))

[('name', 'afsan'), ('age', '25'), ('salary', '25')]

In [51]:
dict(zip(data, value_data))

{'name': 'afsan', 'age': '25', 'salary': '25'}

In [52]:
data = [['name'],'age','salary']
value_data = ['afsan','25','25']

zip(data, value_data)

In [53]:
dict(zip(data, value_data))

TypeError: unhashable type: 'list'

In [54]:
# Methods on dictinary

print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# method to add and access the element from the dictonary

1. get
2. setdeafault
3. update

In [57]:
# get

# if the key is present it returns the value, else deafult value will be printed

data = {'name': 'afsan', 'age': '25', 'salary': '25'}

# if key is present

print(data.get('name'))

afsan

In [58]:
# if key is not present

print(data.get('learnbay'))

None

In [59]:
#. we can change the default to any message

print(data.get('learnbay','key is not present'))

key is not present

In [60]:
print(data.get('age','key is not present'))

25

In [61]:
# setdeafault

# inserts the key with the value of the deafult if the key in not present, else return the value of key

data = {'name': 'afsan', 'age': '25', 'salary': '25'}
print(data.setdefault('name'))

afsan

In [62]:
data = {'name': 'afsan', 'age': '25', 'salary': '25'}
print(data.setdefault('learnbay'))

None

In [63]:
data

{'name': 'afsan', 'age': '25', 'salary': '25', 'learnbay': None}

In [64]:
# customise the msg
data = {'name': 'afsan', 'age': '25', 'salary': '25'}
print(data.setdefault('learnbay','message'))

message

In [65]:
data

{'name': 'afsan', 'age': '25', 'salary': '25', 'learnbay': 'message'}

In [66]:
# update

data = {'name': 'afsan', 'age': '25', 'salary': '25'}
new_data = {'phone':'XXX' , 'location':'banglore'}

data.update(new_data)

In [67]:
data

{'name': 'afsan',
 'age': '25',
 'salary': '25',
 'phone': 'XXX',
 'location': 'banglore'}

In [68]:
data = {'name': 'afsan', 'age': '25', 'salary': '25'}
new_data = {'age':'100' , 'location':'banglore'}

data.update(new_data)

In [69]:
data

{'name': 'afsan', 'age': '100', 'salary': '25', 'location': 'banglore'}