In [ ]:
# Comments

1. comments can be used to explain the python code
2. comments can be used to make code more readable
3. comments can be used to prevent execution of the code

In [ ]:
pi = 3.14
r = 10
a = r*r
print(a)

In [ ]:
# code to find out the area of square

pi = 3.14 # value for pi
r = 10 # side of sqaure
a = r*r # area of square
print(a)

In [7]:
a = 10
b = 20
c = 30

print(a)
print(a+b+c)
print(a-b-c)

10
60
-40

In [10]:
'''
print(a)
print(a+b+c)
print(a-b-c)
'''

a = 10
b = 20
c = 30

In [8]:
a

10

# Datatypes in python

- two types of datatypes

1. fundamental/basic data types - it is called as primitive datatypes
 - int
 - float
 - complex
 - str
 - None
 - bool

2. Derived data types - datatypes composed of fundamental datatypes
 - list
 - tuple
 - set
 - dict
 - frozen set
 - range

In [ ]:
# integer data types

- any value without a decimal point eg 100, -200 , -999

In [11]:
a = -99
print(a)

-99

In [12]:
# type() - it tells the type if variable/value

a = 100
print(type(a))

<class 'int'>

In [13]:
a = 100
print(type(100))

<class 'int'>

In [ ]:
# types of operation we can perform on integers

1. Arthmatic operation - +, -, /(float division) , * , //(floor division) , %(modulo) , **(power)

In [14]:
print(10+20)

30

In [15]:
print(10-20)

-10

In [16]:
print(10*10)

100

In [17]:
print(10/2) #float divison

5.0

In [18]:
print(11/5)

2.2

In [19]:
print(11//5) #floor value

2

In [20]:
print(11%5) # remainder

1

In [21]:
print(2**10)

1024

In [22]:
print(3**2)

9

In [ ]:
0.0 0.6  1.0  2.0  3.  4.0  4.9999 5.0  6.  7. 7.0123  8

In [ ]:
0. 0.6  1.
floor.  celing

In [23]:
print(11//5.0)

2.0

In [ ]:
#2. Comparison operation - >, < , >= , <=

- will always return a bool value (True and False)
- int vs int
- float vs float
- int vs float
- bool vs bool
- str vs str

- we cannot apply comparison on complex and None type

In [24]:
print(10>20)

False

In [25]:
print(10<=10)

True

In [26]:
print(True > 2)

False

In [27]:
print('True' > True)

TypeError: '>' not supported between instances of 'str' and 'bool'

In [28]:
print(10.7j < 11+7j)

TypeError: '<' not supported between instances of 'complex' and 'complex'

In [29]:
print('learBay' < 'afsan')

False

In [30]:
print('learBay' < 'learnbay')

# B - 66
# n - 110

# 66 < 110

True

In [ ]:
#3. equality operator - ==, !=

- return value will be always be bool(True and False)
- can work on any data types

In [31]:
7+8j == 100

False

In [32]:
100 != 100

False

In [ ]:
#4. ASCII operator

ord() - corresponding ascii value
chr() - number it will tell the char value

In [33]:
ord('B')

66

In [34]:
ord('a')

97

In [35]:
ord(' ')

32

In [36]:
chr(107)

'k'

In [37]:
chr(69)

'E'

In [ ]:
#5. Logical operator - and, or and not

and table

False and False --> False
False and True --> False
True and True --> True
True and False --> False

or table

False or False --> False
False or True --> True
True or True --> True
True or False --> True

or table

not True --> False
not False --> True

In [38]:
print(True and False)

False

In [39]:
print(not False)

True

In [40]:
print((10<20) and (10==20))

False

In [41]:
print(10 and 20)

20

In [ ]:
# 

A and B --> result will be A if A is False else B
A or B --> result will be A if A is True else B

In [ ]:
print(10 and 20)

In [45]:
print(10 or 20)

10

In [44]:
bool(10)

True

In [48]:
print('' and 0)

In [49]:
print('' or 0)

0

In [46]:
bool('')

False

In [47]:
bool(0)

False

In [ ]:
result will be "" if "" is True else 0

In [ ]:
A and B --> result will be A if A is False else B
A or B --> result will be A if A is True else B

In [53]:
print('krishna' and 'afsan') # A and B

# result will be krishna if krishna is False else afsan

afsan

In [54]:
print('krishna' or 'afsan') # A and B
# result will be A if A is True else B
# result will be krishna if krishna is True else afsan

krishna

In [56]:
print('b' == 'b')

True

In [57]:
98 == 98

True

In [60]:
bool(' ')

True

In [ ]:
print('afsan' or 'krishna') # A(afsan) and B(krishna)
# result will be A if A is True else B
# result will be Afsan if afsan is True else krishna

In [ ]:
print('krishna' or 'afsan') #a(krishna)  and B(afsan)
# result will be krishna if krishna is True else afsan

In [61]:
print('' or 0) #a('')  and B(0)
# result will be '' if '' is True else 0

0

In [62]:
print(0 or '') #a(0)  and B('')
# result will be 0 if 0 is True else ''

In [63]:
bool(0)

False

In [64]:
bool('')

False

In [65]:
print(0 and False)

# result will be 0 if 0 is False else False

0