# methods to delete the items from dic

1. pop
2. popitem

1. pop

removes the specified key and return the corresponding value. if key is not present, deafult will be returned if given
oterwise it will raise an error

In [2]:
data = {"name":"afsan","age":25,'salary':25}

# if key is present

print(data.pop('age'))
print(data)

25
{'name': 'afsan', 'salary': 25}

In [3]:
# if key is not present
data = {"name":"afsan","age":25,'salary':25}
print(data.pop('ages'))
print(data)

KeyError: 'ages'

In [4]:
data = {"name":"afsan","age":25,'salary':25}
print(data.pop('ages','key not found'))
print(data)

key not found
{'name': 'afsan', 'age': 25, 'salary': 25}

# popitem

remove and return (key,value) from the last

In [5]:
data = {"name":"afsan","age":25,'salary':25}
print(data.popitem())

('salary', 25)

In [6]:
data

{'name': 'afsan', 'age': 25}

# methods to check all the keys in a dict

In [7]:
data = {'emp_1':{"name":"afsan","age":25,'salary':25}, 'emp_2':{"name":"messi","age":35,'salary':50}}
data.keys()

dict_keys(['emp_1', 'emp_2'])

In [8]:
for i in data.keys():
    print(i)

emp_1
emp_2

In [9]:
# methods to check all the values in a dict
data = {'emp_1':{"name":"afsan","age":25,'salary':25}, 'emp_2':{"name":"messi","age":35,'salary':50}}
data.values()

dict_values([{'name': 'afsan', 'age': 25, 'salary': 25}, {'name': 'messi', 'age': 35, 'salary': 50}])

In [10]:
for i in data.values():
    print(i)

{'name': 'afsan', 'age': 25, 'salary': 25}
{'name': 'messi', 'age': 35, 'salary': 50}

In [11]:
# methods to check all the items in a dict
data = {'emp_1':{"name":"afsan","age":25,'salary':25}, 'emp_2':{"name":"messi","age":35,'salary':50}}
data.items()

dict_items([('emp_1', {'name': 'afsan', 'age': 25, 'salary': 25}), ('emp_2', {'name': 'messi', 'age': 35, 'salary': 50})])

In [12]:
for i in data.items():
    print(i)

('emp_1', {'name': 'afsan', 'age': 25, 'salary': 25})
('emp_2', {'name': 'messi', 'age': 35, 'salary': 50})

In [14]:
data = {'emp_1':{"name":"afsan","age":25,'salary':25}, 'emp_2':{"name":"messi","age":35,'salary':50}}

# age of employee_1
data['emp_1']['age']

25

In [15]:
data['emp_2']['salary']

50

# fromkeys method

create a new dict with keys from iterable and values set to value

In [23]:
data = ['jashan','rahul','afsan']
dict.fromkeys(data)

{'jashan': None, 'rahul': None, 'afsan': None}

In [17]:
dict.fromkeys([1,2,3,4],'hello')

{1: 'hello', 2: 'hello', 3: 'hello', 4: 'hello'}

In [18]:
# clear
data = {'emp_1':{"name":"afsan","age":25,'salary':25}, 'emp_2':{"name":"messi","age":35,'salary':50}}
data.clear()

In [19]:
data

{}

In [ ]:
dict - datatype
 - dict_keys
 - dict_item
 - dict_values

In [ ]:
# Set data type

In [22]:
data = dict.fromkeys([1,2,3,4], 0)
print(data)

{1: 0, 2: 0, 3: 0, 4: 0}

In [26]:
a = 1000
b = 1000
print(id(a))
print(id(b))
print(a is b)

140582234518032
140582234520880
False

In [27]:
a = 1000
b = a
print(id(a))
print(id(b))
print(a is b)

140582234519888
140582234519888
True

In [29]:
# Set data type

140582236862080
140582234895360
[1, 2, 3, [300, 20, 30]]
[1, 2, 3, [300, 20, 30]]
140582234520368
140582234520368

In [ ]:
== and is

== .. compares the value to give the result
is comparing the address of the value

In [30]:
a = 100
b = 100
print(id(a))
print(id(b))
print(a is b)

140582198826448
140582198826448

In [31]:
140582198826448 == 140582198826448

True

In [32]:
a = 100
b = 100

100 == 100

True

In [33]:
a = 300
b = 300
print(id(a))
print(id(b))
print(a is b)

140582225665104
140582225664880
False

In [34]:
140582225665104 == 140582225664880

False

In [35]:
a = 300
b = 300

a == b

True

In [ ]:
str - a-z,A-Z,0-9,_

In [ ]:
# Set data type

- collection of values
- it is not a seq data type
- doesnt support indexing / slicing
- mutable
- collection of unique elements
- cannot contain the mutable data type

In [36]:
# collection of unique elements

a = {1,2,3,4,4,4,3,2,1}
print(a)

{1, 2, 3, 4}

In [37]:
# cannot contain the mutable data type
a = {1,2,3,4,4,4,[3,2,1]}

TypeError: unhashable type: 'list'

In [38]:
a = {1,2,3,4,5}
a.clear()

In [39]:
print(a)

set()

In [40]:
data = {1,2,4,10+7j,True,False,1,1,1,0,0,2,3}
print(data)

{False, 1, 2, 3, 4, (10+7j)}

In [ ]:
{1,2,4,10+7j,False,3}

In [41]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [42]:
s = {10,20,30,40}
print(s)

{40, 10, 20, 30}

In [ ]:
mutable
 - list
 - dict
 - set

In [ ]:
set cannot contain list,dict,set

In [43]:
a = {40, 10, 20, 30}
a.add(100)
print(a)

{100, 40, 10, 20, 30}

In [ ]:
# step 1
componenets
datatypes
    - fundamental
        int
        float
        complex
        bool
        None
        str
    - derived datatypes
        list
        tuple
        dict
        set
        
for loops
range
all the operations

# step 2
conditional statment
loops
    - for 
    - while
    
break
continue

functions

map
reduce
filter
enumerate

module
file handling
exceptional handling
regular expression

# step3 - data science
numpy
pandas
matplotlib
seaborn

In [45]:
# format

a = 'afsan'
b = 'learnbay'
print(f'{a} is a student of {b}')

afsan is a student of learnbay

In [46]:
a = 'afsan'
b = 'learnbay'
print('{} is a student of {}'.format(a,b))

afsan is a student of learnbay

In [ ]:
# conditonal statments
if else

In [ ]:
stat1
stat2
stat3
if cond:
    stat4
    stat5
    
if cond is true -> 1,2,3,4,5
if cond is false -> 1,2,3

In [ ]:
stat1
stat2
stat3
if cond:
    stat4
    stat5
stat6
stat7

if cond is true --> 1,2,3,4,5,6,7
if cond is False --> 1,2,3,6,7

In [ ]:
# if else

stat1
stat2
stat3
if cond:
    stat4
    stat5
else:
    stat6
    stat7
stat8
stat9

if cond is True --> 1,2,3,4,5,8,9
if cond is False --> 1,2,3,6,7,8,9

In [ ]:
stat1
stat2
stat3
if cond1:
    stat4
    stat5
if cond2:
    stat6
    stat7
if cond3:
    stat8
    stat9
else:
    stat10
    stat11
stat12
stat13

if cond 1 and 2 is True and rest is false --> 1,2,3,4,5,6,7,10,11,12,13
if all are false --> 1,2,3,10,11,12,13
if cond 2 and cond 3 is True and rest is false --> 1,2,3,6,7,8,9,12,13

In [ ]:
stat1
stat2
stat3
if cond1:
    stat4
    stat5
else:
    stat6
    stat7
if cond2:
    stat8
    stat9
if cond3:
    stat10
    stat11
else:
    stat12
    stat13
stat14
stat15

if cond 1 and 2 is True and rest is false :- 1,2,3,4,5,8,9,12,13,14,15
if all are false --> 1,2,3,6,7,12,13,14,15