In [ ]:
# return statement

- it is optional in function- for  users
- return is important in the function
- if not used then default value of return will be giveb by python -- None
- if return then it can be any value (any datatype)

In [ ]:
1. it tell the interpreter to go back to original function call
2. if we want the value to be used outside the function

In [6]:
def verify_user(username, password):
    if username=='afsan' and password=='learnbay@123':
        return True
    else:
        return False

In [7]:
username = input('please enter the username')
password = input('please enter the password')
result = verify_user(username,password)

if result:
    print('login successfull')
    print('showing all the data')
else:
    print('login cred is wrong')

please enter the usernameafsan
please enter the passwordlearnbay@123
login successfull
showing all the data

In [ ]:
# recursive function - funciton calling itself

# 1. waf to find the facotial of a number

3! --> 3*2*1*0
4! --> 4*3*2*1*0

In [8]:
def fact(num):
    if num==0:
        return 1
    else:
        return num*fact(num-1)

In [11]:
fact(4)

24

In [ ]:
# anonymous function(function without a name) - lambda function

- a lambda function can take any number of args, but can only have one expression

syntax - lambda args: expression

In [15]:
def square(num):
    return num**2

In [17]:
square(3)

9

In [18]:
lambda num : num**2

In [19]:
a = lambda num : num**2

In [20]:
a(4)

16

In [21]:
a(15)

225

In [22]:
a(100)

10000

In [23]:
(lambda num : num**2)(4)

16

In [24]:
(lambda num : num**2)(5)

25

In [25]:
# waf to multiple 2 numbers --> lambda

(lambda num_1,num_2:num_1*num_2)(10,20)

200

In [26]:
# waf to check if a number is even or odd - ternary op ---> lambda

a = lambda num:"even" if num%2==0 else 'odd'

In [29]:
a(21)

'odd'

In [ ]:
def even(num):
    if cond:
        return even
    else:
        return odd

In [ ]:
waf to check if a number is prime or not

- function
- doct

In [ ]:
1 - 11

2,3,4,5,6,7,8,9,10

In [30]:
def is_prime(num):
    """
    checks if a number is prime or not
    num(int) --> number to be checked for
    return
        Bool
    """
    if num == 1:
        return 'neither a prime or composite number'
    for i in range(2,num):
        if num%i==0:
            return False
    else:
        return True

In [33]:
is_prime(22)

False

In [35]:
temp_c = [18, 22.5, 23, 26, 12]
    
# write a code to convert all the list of C to list of F

def fahren(T):
    return (9/5)*T + 32

temp_f = []
for i in temp_c:
    temp_f.append(fahren(i))

In [36]:
temp_f

[64.4, 72.5, 73.4, 78.80000000000001, 53.6]

In [ ]:
# map function

map function takes two arguments

1. function
2. iterable

NOte - the number of args in function depends on the number of iterable object user
eg
    2 iterable - 2 args
    1 iterable - 1 args
    n iterable - n args

syntax - map(function,sequence)

In [38]:
def fahren(T):
    return (9/5)*T + 32

temp_c = [18, 22.5, 23, 26, 12]
list(map(fahren, temp_c))

[64.4, 72.5, 73.4, 78.80000000000001, 53.6]

In [ ]:
# when to use map

usecase where all the elemnts is having a common operation

In [39]:
temp_c = [18, 22.5, 23, 26, 12]
list(map(lambda T:(9/5)*T + 32 , temp_c))

[64.4, 72.5, 73.4, 78.80000000000001, 53.6]

In [40]:
c = ['chandra','afsan','nitin','Shweta']

# WAP to get list of reverse names
list(map(lambda a:a[::-1],c))

['ardnahc', 'nasfa', 'nitin', 'atewhS']

In [ ]:
number of iterable objects coressponds number of args

In [44]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

c = [7,9,11,13,15]

list(map(lambda a,b:a+b ,a,b))

[7, 9, 11, 13, 15]

In [ ]:
# reduce --> max,min,sum,average

reduce function also takes 2 args

1. function - takes always have 2 args
2. iterable - 1 iterable object

In [45]:
c = [7,9,11,13,15]

from functools import reduce

In [46]:
reduce(lambda x,y:x+y,c) # sum

55

In [ ]:
[7,9,11,13,15]
 x y
[16,11,13,15]
  x  y 
[27,13,15]
 x. y
[40,15]
 x, y
55

In [47]:
reduce(lambda x,y:x if x<y else y,c) # min

7

In [ ]:
[7,9,11,13,15]
 x y
[7,11,13,15]
  x  y 
[7,13,15]
 x. y
[7,15]
 x, y
7

In [48]:
reduce(lambda x,y:y if x<y else x,c) # max

15