# remove

- removes the specified value from the list
- removes the first occurance of the value

In [1]:
data = [10,20,30,40,50,40,20,20]
data.remove(30)
print(data)

[10, 20, 40, 50, 40, 20, 20]

In [2]:
data = [10,20,30,40,50,40,20,20]
data.remove(40)
print(data)

[10, 20, 30, 50, 40, 20, 20]

In [3]:
# count

data = [10,20,30,40,50,40,20,20]
print(data.count(20))

3

# index

- returns the index of the element
- if multiple element is present then it will return the index of first occuring element

In [4]:
data = [10,20,30,40,50,40,20,20]
print(data.index(30))

2

In [5]:
data = [10,20,30,40,50,40,20,20]
print(data.index(20))

1

In [6]:
# reverse()

data = [10,20,30,40,50,40,20,20]
data.reverse()
print(data)

[20, 20, 40, 50, 40, 30, 20, 10]

In [ ]:
# sort

- sort the element for you
Note - sort only works on list which has homeogenous data

In [7]:
data = [5,7,3,4,2,8]
data.sort()
print(data)

[2, 3, 4, 5, 7, 8]

In [8]:
data = [5,7,3,4,2,8]
data.sort(reverse=True)
print(data)

[8, 7, 5, 4, 3, 2]

In [9]:
data = [5,7,3,'4',2,8]
data.sort(reverse=True)
print(data)

TypeError: '<' not supported between instances of 'str' and 'int'

# clear
- clears the list and return the empty list

In [10]:
data = [5,7,3,'4',2,8] 
data.clear()

In [11]:
print(data)

[]

In [ ]:
# Interview question

what is the difference between data.reverse() and data[::-1]

answer

1. data.reverse() is changing the original object whereas data[::-1] is not changing the original object

In [17]:
#1
data = [1,2,3,'4']
data[::-1]
print(data)

[1, 2, 3, '4']

In [15]:
data.reverse()

In [16]:
data

['4', 3, 2, 1]

# Shallow and deep copy

In [18]:
a = [1,2,3,4,5]
b = [1,2,3,4,5]

print(id(a))
print(id(b))

140635243986304
140635243986496

In [20]:
a = [1,2,3,4,5]
b = a # alisaing

print(id(a))
print(id(b))

b[0] = 100

print(a)
print(b)

140635243342080
140635243342080
[100, 2, 3, 4, 5]
[100, 2, 3, 4, 5]

In [22]:
# shallow copy

a = [1,2,3,4,5]
b = a.copy()

print(a, id(a))
print(b, id(b))

b[0] = 100

print(a, id(a))
print(b, id(b))

[1, 2, 3, 4, 5] 140635243620096
[1, 2, 3, 4, 5] 140635243359808
[1, 2, 3, 4, 5] 140635243620096
[100, 2, 3, 4, 5] 140635243359808

In [24]:
# drawback of shallow copy - it doest not work with nested list

a = [1,2,3,[10,20,30]]
b = a.copy()

print(a,id(a))
print(b,id(b))

b[3][0] = 200

print(a)
print(b)

[1, 2, 3, [10, 20, 30]] 140635245184128
[1, 2, 3, [10, 20, 30]] 140635243366400
[1, 2, 3, [200, 20, 30]]
[1, 2, 3, [200, 20, 30]]

In [25]:
a = [1,2,3,[10,20,30]]
b = a.copy()

print(a,id(a))
print(b,id(b))

print(a,id(a[-1]))
print(a,id(b[-1]))


b[3][0] = 200

print(a)
print(b)

[1, 2, 3, [10, 20, 30]] 140635243655296
[1, 2, 3, [10, 20, 30]] 140635243649920
[1, 2, 3, [10, 20, 30]] 140635243650304
[1, 2, 3, [10, 20, 30]] 140635243650304
[1, 2, 3, [200, 20, 30]]
[1, 2, 3, [200, 20, 30]]

In [28]:
# Deep copy

from copy import deepcopy

a = [1,2,3,[10,20,30]]
b = deepcopy(a)

print(a,id(a))
print(b,id(b))

print(a,id(a[-1]))
print(a,id(b[-1]))

b[3][0] = 200

print(a)
print(b)

[1, 2, 3, [10, 20, 30]] 140635245061760
[1, 2, 3, [10, 20, 30]] 140635249884480
[1, 2, 3, [10, 20, 30]] 140635249884032
[1, 2, 3, [10, 20, 30]] 140635250908096
[1, 2, 3, [10, 20, 30]]
[1, 2, 3, [200, 20, 30]]

In [ ]:
# alising
# shallow
# deep

In [ ]:
b = 100
a = b # alising

In [30]:
a=[10,20,30,[100,200,300]]
b=a[0:2].copy()

In [ ]:
# for loop

In [ ]:
syntax

for var in iterable:
    statment 1
    statment 2
    statment 3

In [ ]:
# ask 100 laptop brand from user

a = input('brand name')
b = input('brand name')
c = input('brand name')
d = input('brand name')
e = input('brand name')
f = input('brand name')
g = input('brand name')
h = input('brand name')
i = input('brand name')
j = input('brand name')
k = input('brand name')

In [31]:
for i in range(0,100):
    data = input('brand_name')

brand_namelenovo
brand_nameasus
brand_namepredator
brand_namemac
brand_namemac m1pro

KeyboardInterrupt: Interrupted by user

In [32]:
for i in 100:
    print('afsan')

TypeError: 'int' object is not iterable

In [33]:
for i in [100,200,300]:
    print('afsan')

afsan
afsan
afsan

In [ ]:
for iteration 1 i = 100
afsan

for iteration 2 i = 200
afsan

for iteration 3 i = 300
afsan

for iteration 4 i = 
stop the loop

In [34]:
for i in 'afsan':
    print('afsan')

afsan
afsan
afsan
afsan
afsan

In [ ]:
for iter 1 i = 'a'
afsan

for iter 2 i = 'f'
afsan

for iter 3 i = 's'
afsan

for iter 4 i = 'a'
afsan

for iter 5 i = 'n'
afsan

for iter 6 i = stop the iteration

In [35]:
for apple in 'afsan':
    print(i)

a
f
s
a
n

In [ ]:
for iter 1 i = 'a'
a

for iter 2 i = 'f'
f

for iter 3 i = 's'
s

for iter 4 i = 'a'
a

for iter 5 i = 'n'
n

for iter 6 i = stop the iteration

In [ ]:
for var in iterable:
    statment 1
    statment 2

In [36]:
a = 'deepika'

In [37]:
for i in 100:
    print(i)

TypeError: 'int' object is not iterable

In [ ]:
o other than str no other data types is iterable

len()
dir(obj) --> __iter__

In [ ]:
a = input('brand name')
b = input('brand name')
c = input('brand name')
d = input('brand name')
e = input('brand name')
f = input('brand name')
g = input('brand name')
h = input('brand name')
i = input('brand name')
j = input('brand name')
k = input('brand name')

In [ ]:
for i in range(0,1000):
    data = input('brand name')

In [ ]:
# range - seq of values

# range(start,stop,step)
start - inclusive
stop - exclusive

In [40]:
print(list(range(1,101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [41]:
print(list(range(1,101,2)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [42]:
data = ['tej' , 'Deepika', 'chandan' , 'vasanti' , 'humaid']

for i in data:
    print(i[0])

t
D
c
v
h

In [43]:
data = ['tej' , 'Deepika', 'chandan' , 'vasanti' , 'humaid']
for i in data:
    print(i[::-1])

jet
akipeeD
nadnahc
itnasav
diamuh

In [ ]:
# find all the power from number 10,200